*.html linguist-detectable=true
*.html linguist-language=HTML
*.css linguist-detectable=true
*.css linguist-language=CSS
*.js linguist-detectable=true
*.js linguist-language=JavaScript
*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored
*.mp4 linguist-vendored
